.navbar-inverse .navbar-nav > .active > a,
 .navbar-inverse .navbar-nav > .active > a:hover,
  .navbar-inverse .navbar-nav > .active > a:focus,
  .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus,
  .dropdown-menu .dividerو
  .navbar-inverse .navbar-nav > li > a,
  .carousel-indicators .active,
  .fotter  .fa-google-plus-g,
  .option-box .cog,.dropdown-menu .divider   {
    background-color: #335d2d;
}


.navbar-brand span,
.about h1:nth-child(1) span,
.carousel-inner .nam,
.up .upp .fa-caret-square-up:hover,
.fotter h3, .copy span {
    color: #335d2d;
}



.dropdown-menu {
 
    border-top:3px solid #335d2d
  
}



.testimonials .carousel-indicators .active,.option-box .color-option{ 
    border:3px solid #335d2d

}




 








